<!doctype html>
<html class="no-js" lang="zxx">
    
<!-- index28:48-->
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- Favicon -->
            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('build/buyer_images/favicon.png') }}">
       {% endblock %}
    </head>
    <body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
            {{ include('buyer/_header.html.twig') }}
            {% block main %}{% endblock %}
            {{ include('buyer/_footer.html.twig') }}
        </div>
        <!-- Body Wrapper End Here -->
        {% block scripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>

<!-- index30:23-->
</html>