<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %} </title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      {% block stylesheets %}
            {{ encore_entry_link_tags('panel') }}
            <!-- Favicon -->
            <link rel="shortcut icon" type="image/x-icon" href="{{ asset('build/seller_images/favicon.png') }}">
       {% endblock %}
  </head>

  <body>
  <!-- Pre-loader start -->
  <div class="theme-loader">
      <div class="loader-track">
          <div class="preloader-wrapper">
              <div class="spinner-layer spinner-blue">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
              <div class="spinner-layer spinner-red">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
            
              <div class="spinner-layer spinner-yellow">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
            
              <div class="spinner-layer spinner-green">
                  <div class="circle-clipper left">
                      <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                      <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                      <div class="circle"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Pre-loader end -->
  <div id="pcoded" class="pcoded">
      <div class="pcoded-overlay-box"></div>
      <div class="pcoded-container navbar-wrapper">
          {{ include('seller/_navbar.html.twig') }}
          <div class="pcoded-main-container">
              <div class="pcoded-wrapper">
                {{ include('seller/_sidenavbar.html.twig') }}
                    <div class="pcoded-content">
                        {% block page_header %}{% endblock %} 
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                        {% block main %}{% endblock %} 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% block scripts %}
    <!-- Required Jquery -->
    <script type="text/javascript" src="{{ asset('seller_assets/js/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('seller_assets/js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('seller_assets/js/popper.js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('seller_assets/js/bootstrap/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('seller_assets/pages/widget/excanvas.js') }}"></script>
    <!-- waves js -->
    <script src="{{ asset('seller_assets/pages/waves/js/waves.min.js') }}"></script>
    <!-- datatable js -->
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="{{ asset('seller_assets/js/jquery-slimscroll/jquery.slimscroll.js') }}"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="{{ asset('seller_assets/js/modernizr/modernizr.js') }}"></script>
    <!-- slimscroll js -->
    <script type="text/javascript" src="{{ asset('seller_assets/js/SmoothScroll.js') }}"></script>
    <script src="{{ asset('seller_assets/js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
    <!-- Chart js -->
    <script type="text/javascript" src="{{ asset('seller_assets/js/chart.js/Chart.js') }}"></script>
    <!-- amchart js -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="{{ asset('seller_assets/pages/widget/amchart/gauge.js') }}"></script>
    <script src="{{ asset('seller_assets/pages/widget/amchart/serial.js') }}"></script>
    <script src="{{ asset('seller_assets/pages/widget/amchart/light.js') }}"></script>
    <script src="{{ asset('seller_assets/pages/widget/amchart/pie.min.js') }}"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <!-- menu js -->
    <script src="{{ asset('seller_assets/js/pcoded.min.js') }}"></script>
    <script src="{{ asset('seller_assets/js/vertical-layout.min.js') }}"></script>
    <!-- custom js -->
    <script type="text/javascript" src="{{ asset('seller_assets/pages/dashboard/custom-dashboard.js') }}"></script>
    <script type="text/javascript" src="{{ asset('seller_assets/js/script.js') }}"></script>
    {% endblock %}
</body>

</html>
